@charset "utf-8";
/* CSS Document */


#otp_authecation_btn {
    display: block;
}


#login_pass,
#mobile_info,
#toggle_create_reset_password,
#toggle_confirmed_reset_password,
#toggle_reg_password,
#toggle_reg_com_password {
    display: none;
}

.login-section {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
}

.login-section .login-side-div {
    background-color: var(--main-color);
    position: fixed;
    min-height: 100%;
    width: 35vw;
}

.login-section .div-in {
    min-height: 500px;
    width: 70vw;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.login-section .div-in .side-in-div {
    width: 50%;
    height: 500px;
    background: url(../all-images/body-pix/login-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.acute-angle {
    width: 0;
    height: 0;
    top: 20%;
    right: 0px;
    position: absolute;
    z-index: 2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid var(--white-color);
}


.login-section .div-in .side-in-div .side-text {
    padding: 50px 25px 0px 25px;
    color: var(--white-color);
    line-height: 27px;
    text-align: center;
}



.login-section .div-in .side-in-div .side-text .logo-div {
    width: 150px;
    margin: auto;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--white-color);
}


.login-section .div-in .side-in-div .side-text .logo-div img {
    width: 100%;
}


.login-section .div-in .side-in-div .side-text h1 {
    padding-top: 20px;
    margin: 10px 0px;
    font-weight: lighter;
    line-height: 45px;
    font-size: 35px;
}

.login-section .div-in .side-in-div .social-div {
    bottom: 30px;
    width: auto;
    left: calc(50% - 115px);
    position: absolute;
    color: var(--white-color);
}

.login-section .div-in .side-in-div .social-div .icon-div {
    height: 32.5px;
    padding-top: 12.5px;
    width: 45px;
    margin: 70px 3px 0px 3px;
    border-radius: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: rgb(255, 255, 255, 0.2);
    transition: all 0.2s ease-in 0.2s;
    -moz-transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}


.login-section .div-in .side-in-div .social-div .icon-div i {
    font-size: 20px;
}

.login-section .div-in .side-in-div .social-div .icon-div:hover {
    opacity: .8;
}



@media all and (max-width:1100px) {
    .login-section .div-in .side-in-div {
        display: none;
    }

}

@media all and (max-width:500px) {
    .login-section .div-in {
        width: 95vw;
    }
}

@media all and (max-width:600px) {
    .overlay-off-div .slide-back-div {
        width: 90vw;
    }

}

@media all and (max-width:365px) {
    .overlay-off-div .slide-back-div {
        width: 95vw;
        min-width: 250px;
    }

}










.div-in .log-in-div {
    width: 50%;
    min-height: 200px;
    background: var(--white-color);
}

.div-in .log-in-div .form-div {
    padding: 50px 20px 0px 20px;
}

.div-in .log-in-div .form-div .logo-div {
    width: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    float: left;
    background-color: var(--white-color);
    display: none;
}

.div-in .log-in-div .form-div .logo-div img {
    width: 100%;
}



.div-in .log-in-div .form-div .form-header {
    margin: 0px;
    height: 40px;
    padding: 0px 40px;
}

.div-in .log-in-div .form-div .form-header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: lighter;
    float: left;
}




.fill-form-div {
    width: 100%;
    display: none;
}

.fill-form-div .form-in {
    padding: 15px 40px 0px 40px;
}

#view_login {
    display: block;
}

.fill-form-div .title-div {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    font-family: body-font;
}

.fill-form-div .title-div #message {
    display: none;
}

.fill-form-div .title-div i {
    color: var(--main-color);
}

.fill-form-div .title-div span {
    color: var(--active-color);
}

.fill-form-div .text-field {
    width: 100%;
    height: 50px;
    border: rgba(0, 0, 0, .1) 1px solid;
    border-radius: 3px;
    padding: 0px 15px;
    margin: 5px 0px 15px 0px;
    font-family: body-font;
    color: #1e1e1e;
    -webkit-text-fill-color: #1e1e1e;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-appearance: none;
    outline: none !important;
}

.fill-form-div .select_field {
    background-color: var(--white-color);
}


.fill-form-div .select-field {
    background-color: var(--white-color);
}

.fill-form-div .text-field:focus {
    border-color: var(--main-color);
    -moz-appearance: none;
    -moz-transform: scale(1) translate(1px, 0px);
    -webkit-transform: scale(1) translate(1px, 0px);
}

.fill-form-div .complain {
    border: var(--active-color) 1px solid;
    -moz-appearance: none;
    -moz-transform: scale(1.02) translate(1px, 0px);
    -webkit-transform: scale(1.02) translate(1px, 0px);
}






.fill-form-div .title-in {
    float: left;
    font-size: 13px;
    cursor: pointer;
    color: var(--sub-body-color);
}

.fill-form-div .reset-password {
    float: right;
    color: var(--active-color);
}



.fill-form-div .btn {
    margin: 15px 0px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-family: body-font;
    cursor: pointer;
    font-size: 15px;
    background-color: var(--main-color);
    color: #FFF;
    transition: all 0.2s ease-in 0.2s;
    -moz-transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}

.fill-form-div .btn:hover {
    opacity: .8;
}

.notification-div {
    color: var(--body-color);
    background: rgba(0, 168, 89, .06);
    padding: 13px;
    font-size: 13px;
    line-height: 18px;
    border: rgba(0, 168, 89, .1) 1px solid;
    margin: 10px 0px;
}



@media all and (max-width:1100px) {
    .div-in .log-in-div {
        width: 100%;
    }
}

@media all and (max-width:1100px) {
    .div-in .log-in-div .form-div .logo-div {
        display: block;
    }
}



@media all and (max-width:650px) {
    .div-in .log-in-div .form-div {
        padding: 50px 0px 0px 0px;
    }
    .fill-form-div .form-in {
        padding: 15px 10px 0px 10px;
    }
    .div-in .log-in-div .form-div .form-header {
        padding: 0px 10px;
    }
}














.notification-div span {
    color: var(--main-color);
    font-size: 14px;
    cursor: pointer;
}


.alert-otp {
    background: rgba(240, 112, 95, 0.13);
    cursor: pointer;
}


.login-footer-div {
    text-align: center;
    background: none;
    color: var(--sub-body-color);
    border-bottom: var(--main-color) 1px dashed;
}

.login-footer-div .footer-in {
    color: var(--active-color);
}


.fill-form-div .reset-password:hover,
.footer-div .footer-in:hover {
    color: var(--hover-color);
}


.pswd_info {
    color: #747171;
    font-size: 10px;
    margin-top: -5px
}








.slide-back-div {
    height: 500px;
    width: 40vw;
    margin: auto;
    position: relative;
    background: var(--white-color);
    border-radius: 10px;
}



.slide-back-div .header-top {
    height: 50px;
    padding: 0px 25px;
    width: calc(100% - 50px);
    z-index: 2000;
    color: var(--main-color);
    background-color: var(--white-color);
    line-height: 50px;
    border-bottom: #f0f0f0 1px solid;
    position: absolute;
    border-radius: 10px 10px 0px 0px;

}

.slide-back-div .header-top h2 {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: lighter;
    float: left;
}

.slide-back-div .header-top .close-btn {
    height: 30px;
    width: 30px;
    margin: 10px 5px;
    border: none;
    background-color: #e0e0e0;
    font-size: 13px;
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: var(--close-color);
    border-radius: 100%;
    transition: all 0.2s ease-in 0.2s;
    -moz-transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}

.slide-back-div .header-top .close-btn:hover {
    opacity: .8;
}




.slide-back-div .slide-in {
    margin-top: 50px;
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
}



@media all and (max-width:830px) {
    .slide-back-div {
        width: 60vw;
    }
}













.container-div {
    display: block;
    margin: auto;
    width: calc(100% - 40px);
    padding: 5px 0px 30px 0px;
}

.container-div .input-div {
    margin-bottom: 5px;
}



.container-div .input-div label {
    margin-right: 20px;
    font-size: 13px;
}

.container-div .input-div .radio {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: var(--main-color) 4px solid;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
}


.container-div .input-div .radio input {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    opacity: 0;
    cursor: pointer;
}

.container-div .input-div .radio .border {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: -16px;
    margin-left: -2px;
    border: #FFF 2px solid;
    background: #FFF;
    -moz-transition: all 0.2s ease-in 02s;
    transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}

.container-div .input-div .radio:hover .border {
    background: var(--main-color);
}

.container-div .input-div .radio input:checked+.border {
    background: var(--main-color);
}




.password-container {
    position: relative;
}

.password-container .password-toggle {
    position: absolute;
    top: 45%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

