@charset "utf-8";
/* CSS Document */


#otp_authecation_btn {
    display: block;
}


.fill-form-div,
#mobile_info,
#login_pass,
#toggle_create_reset_password,
#toggle_confirmed_reset_password,
#toggle_reg_password,
#toggle_reg_com_password {
    display: none;
}


#nextPage1 {
    display: block;
}






.login-left-div {
    position: fixed;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-left-div .side-in-div {
    width: 90%;
    min-width: 350px;
    height: 500px;
    background: url(../all-images/body-pix/login-bg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: 95%;
}

.acute-angle {
    width: 0;
    height: 0;
    top: 20%;
    right: 0px;
    position: absolute;
    z-index: 2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid var(--white-color);
}


.login-left-div .side-in-div .side-text {
    padding: 50px 25px 0px 25px;
    color: var(--white-color);
    line-height: 27px;
    text-align: center;
}


.login-left-div .side-in-div .side-text .logo-div {
    width: 150px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--white-color);
}


.login-left-div .side-in-div .side-text .logo-div img {
    width: 100%;
}


.login-left-div .side-in-div .side-text h1 {
    padding-top: 20px;
    margin: 10px 0px;
    font-weight: lighter;
    line-height: 45px;
    font-size: 35px;
}

.login-left-div .side-in-div .social-div {
    bottom: 30px;
    width: auto;
    left: calc(50% - 115px);
    position: absolute;
    color: var(--white-color);
}

.login-left-div .side-in-div .social-div .icon-div {
    height: 32.5px;
    padding-top: 12.5px;
    width: 45px;
    margin: 70px 3px 0px 3px;
    border-radius: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: rgb(255, 255, 255, 0.2);
    transition: all 0.2s ease-in 0.2s;
    -moz-transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}


.login-left-div .side-in-div .social-div .icon-div i {
    font-size: 20px;
}

.login-left-div .side-in-div .social-div .icon-div:hover {
    opacity: .8;
}















.login-right-div {
    position: fixed;
    width: 70%;
    height: 100%;
    right: 0px;
    top: 0px;
    background: var(--white-color);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right-div .log-in-div {
    width: 40%;
    min-height: 200px;
    background: var(--white-color);
}


.login-right-div .log-in-div .logo-div {
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    float: left;
    display: none;
}

.login-right-div .log-in-div .logo-div img {
    width: 100%;
}

.login-right-div .log-in-div .form-header {
    padding: 10px;
    border-bottom: #e0e0e0 1px solid;
    margin-bottom: 20px;
}



.login-right-div .log-in-div .form-header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}




@media all and (max-width:1110px) {
    .login-right-div .log-in-div {
        width: 60%;
        margin-left: 20%;
    }
}


@media all and (max-width:900px) {
    .login-left-div {
        width: 20%;
    }

    .login-left-div .side-in-div {
        display: none;
    }

    .login-right-div {
        width: 80%;
    }

    .login-right-div .log-in-div {
        padding: 0px 15px;
        width: 90%;
        margin: auto;
    }

    .login-right-div .log-in-div .logo-div {
        display: block;
    }
}


@media all and (max-width:900px) {
    .login-left-div {
        width: 3%;
    }

    .login-right-div {
        width: 97%;
    }
}






.fill-form-div {
    width: 100%;
}

.fill-form-div .title-div {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    font-family: body-font;
}

.fill-form-div .title-div #message {
    display: none;
}

.fill-form-div .title-div i {
    color: var(--main-color);
}

.fill-form-div .title-div span {
    color: var(--active-color);
}

.fill-form-div .text-field {
    width: 100%;
    height: 50px;
    border: rgba(0, 0, 0, .1) 1px solid;
    border-radius: 3px;
    padding: 0px 15px;
    margin: 0px 0px 10px 0px;
    font-family: body-font;
    color: #1e1e1e;
    -webkit-text-fill-color: #1e1e1e;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-appearance: none;
    outline: none !important;
}

.fill-form-div .select_field {
    background-color: var(--white-color);
}


.fill-form-div .select-field {
    background-color: var(--white-color);
}

.fill-form-div .text-field:focus {
    border-color: var(--main-color);
    -moz-appearance: none;
    -moz-transform: scale(1) translate(1px, 0px);
    -webkit-transform: scale(1) translate(1px, 0px);
}

.fill-form-div .complain {
    border: var(--active-color) 1px solid;
    -moz-appearance: none;
    -moz-transform: scale(1.02) translate(1px, 0px);
    -webkit-transform: scale(1.02) translate(1px, 0px);
}




.fill-form-div .title-in {
    float: left;
    font-size: 13px;
    cursor: pointer;
    color: var(--sub-body-color);
}

.fill-form-div .reset-password {
    float: right;
    color: var(--active-color);
}



.fill-form-div .btn {
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-family: body-font;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--main-color);
    color: #FFF;
    transition: all 0.2s ease-in 0.2s;
    -moz-transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}


.fill-form-div .btn:hover {
    opacity: .8;
}


.fill-form-div .prev-btn {
    width: 100px;
    float: right;
    border-radius: 3px 0px 0px 3px;
    color: var(--body-color);
    background-color: #dddcdc;
}

.fill-form-div .next-btn {
    width: 100px;
    float: right;
    border-radius: 0px 3px 3px 0px;
}




.fill-form-div .profile-div {
    display: flex;
    min-height: 30px;
    padding: 10px;
    border: rgba(46, 204, 113, .4) 1px solid;
    background: rgba(46, 204, 113, .05);
    border-radius: 4px;
    overflow: hidden;
}

.fill-form-div .profile-div .icon-div {
    height: 22px;
    width: 25px;
    border-radius: 100%;
    padding-top: 3px;
    text-align: center;
    font-size: 20px;
    margin-right: 4px;
    color: var(--main-color);
    border: var(--main-color) 1px solid;
}

.fill-form-div .profile-div .details-div {
    line-height: 17px;
    font-size: 12px;
}






.notification-div {
    color: var(--body-color);
    background: rgba(0, 168, 89, .06);
    padding: 13px;
    font-size: 13px;
    line-height: 18px;
    margin: 10px 0px;
}

.notification-div span {
    color: var(--main-color);
    font-size: 14px;
    cursor: pointer;
}


.alert-otp {
    background: rgba(240, 112, 95, 0.13);
    cursor: pointer;
}


.login-footer-div {
    text-align: center;
    background: none;
    color: var(--sub-body-color);
    border-top: var(--main-color) 1px dashed;
}

.login-footer-div .footer-in {
    padding-top: 10px;
    color: var(--active-color);
}


.fill-form-div .reset-password:hover,
.footer-div .footer-in:hover {
    color: var(--hover-color);
}


.pswd_info {
    color: #747171;
    font-size: 10px;
    margin-top: -5px
}


.password-container {
    position: relative;
}

.password-container .password-toggle {
    position: absolute;
    top: 45%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}