@charset "utf-8";
/* CSS Document */

.header-div {
	width: calc(100% - 220px);
	top: 0px;
	right: 0px;
	height: 60px;
	position: fixed;
	background-color: #f1f1f1;
	z-index: 10;
	padding-top: 40px;

}

.header-div .header-div-in {
	padding: 0px 40px;
	line-height: 60px;
}

.header-div .header-div-in .logo-div {
	display: none;
	width: 180px;
	float: left;
}

.header-div .header-div-in .logo-div img {
	width: 100%;
}

.header-div .header-div-in h1 {
	float: left;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}








.header-div .header-div-in .nav-div {
	float: left;
	margin-left: 25px;
}

.header-div .header-div-in .nav-div li {
	height: 40px;
	line-height: 40px;
	margin: 10px 5px;
	padding: 0px 20px;
	color: var(--main-color);
	font-size: 13px;
	list-style: none;
	font-family: body-font;
	float: left;
	text-align: center;
	border-radius: 20px;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
	border-bottom: rgba(154, 44, 133, 0) 1px solid;
}

.header-div .header-div-in .nav-div li:hover,
.header-div .header-div-in .nav-div .active-li {
	background: rgba(255, 255, 255, .7);
}






.header-div .header-div-in .notification {
	width: 40px;
	height: 32.5px;
	padding-top: 7.5px;
	margin-top: 10px;
	border-radius: 100%;
	color: var(--main-color);
	text-align: center;
	font-size: 20px;
	float: right;
	background: rgba(255, 255, 255, .7);
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
}

.header-div .header-div-in .notification:hover {
	background: rgb(235, 228, 228);
}

.header-div .header-div-in .notification div {
	width: 15px;
	height: 15px;
	background: #E1201F;
	border-radius: 100%;
	float: right;
	margin-right: 5px;
	margin-left: -10px;
	color: var(--white-color);
	line-height: 15px;
	font-size: 8px;
	text-align: center;
}








.header-div .header-div-in .header-profile-pix-div {
	margin: 10px 0px 10px 10px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 100%;
	background: rgba(255, 255, 255, .7);
	float: right;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	cursor: pointer;

}

.header-div .header-div-in .header-profile-pix-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}



.toggle-profile-div {
	top: 100px;
	padding: 15px 10px;
	width: 290px;
	background: var(--white-color);
	height: auto;
	position: absolute;
	right: 1%;
	border-radius: 3px;
	display: none;
}

.toggle-profile-div:after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent var(--white-color) transparent;
	right: 40px;
	top: -28px;
}

.toggle-profile-pix-div {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: #ecf0f1 2px solid;
	border-radius: 3px;
	float: left;
	background: #FCFCFC;
}

.toggle-profile-pix-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.toggle-profile-name {
	margin-top: 10px;
	width: 200px;
	height: 18px;
	line-height: 18px;
	font-size: 15px;
	float: right;
	overflow: hidden;
	color: #000066;
	font-family: sub-title-font;
}

.toggle-profile-others {
	margin-top: 2px;
	width: 200px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	float: right;
	overflow: hidden;
	color: #7f8c8d;
}

.logout-btn {
	min-width: 90px;
	margin-top: 7px;
	margin-left: 5px;
	padding: 6px 10px;
	background: #444;
	border: none;
	color: #ecf0f1;
	font-family: body-font;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
	float: left;
}

.logout-btn:hover {
	opacity: .8;
}





.header-div .header-div-in .menu-div {
	display: none;
	padding-top: 10px;
	width: 42px;
	height: 32px;
	float: right;
	margin-top: 7px;
	margin-left: 10px;
	text-align: center;
	border-radius: 5px;
	font-size: 22px;
	background: var(--main-color);
	color: var(--white-color);
	cursor: pointer;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.header-div .header-div-in .menu-div:hover {
	opacity: .7;
}












.side-back-div {
	width: 220px;
	height: 100%;
	left: 0px;
	position: fixed;
	background-color: var(--white-color);
}

.side-back-div .div-in {
	width: calc(100% - 40px);
	padding: 40px 20px;
	position: absolute;
}

.side-back-div .side-bottom {
	padding: 20px 20px;
	bottom: 0px;
}

.side-back-div .div-in .logo-div img {
	width: 100%;
}



.side-back-div .div-in li {
	padding: 10px 12px;
	min-height: 20px;
	line-height: 20px;
	margin-bottom: 5px;
	color: var(----sub-body-color);
	text-align: left;
	cursor: pointer;
	font-size: 12px;
	font-family: body-font;
	border-radius: 5px;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	list-style: none;
}

.side-back-div .div-in li i {
	width: 20px;
	font-size: 16px;
	margin-right: 10px;
	color: var(--subactive-color);
}

.side-back-div .div-in li:hover,
.side-back-div .div-in .active-li {
	background: #f1f1f1;
	color: var(--main-color);
}







.sidenavdiv {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	z-index: 600;
	margin-left: -100%;
}

.sidenavdiv .close-div {
	height: 35px;
	width: 40px;
	border-radius: 4px;
	margin: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	color: var(--white-color);
	font-size: 13px;
	background-color: var(--close-color);
	float: right;
}

.sidenavdiv-in {
	left: 252px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: -100%;
}

.sidenavdiv-menu {
	width: 250px;
	height: 100%;
	overflow: auto;
	position: fixed;
	background: rgba(255, 255, 255, .9);
	padding-top: 20px;
	z-index: 500;
}

.sidenavdiv-menu .pro-back-div {
	text-align: center;
	padding: 10px;
}


.sidenavdiv-menu .pro-back-div .img-div {
	height: 50px;
	width: 50px;
	margin: 0px auto 5px auto;
	border-radius: 5px;
	overflow: hidden;
}

.sidenavdiv-menu .pro-back-div .img-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sidenavdiv-menu .pro-back-div .detail-div {
	height: 20px;
	width: 150px;
	margin: auto;
	overflow: hidden;
	font-size: 12px;
	color: var(----sub-body-color);
}

.sidenavdiv-menu .pro-back-div .id {
	font-size: 10px;
	color: #7f8c8d;
}

.sidenavdiv-menu .pro-back-div .btn {
	height: 35px;
	margin: 5px 0px;
	padding: 0px 20px;
	border: none;
	background: var(--main-color);
	color: var(--white-color);
	font-size: 11px;
	cursor: pointer;
	font-family: sub-title-font;
	border-radius: 4px;
	-moz-transition: all 0.2s ease-in 0.2s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.sidenavdiv-menu .pro-back-div .btn:hover {
	opacity: .7;
}

.sidenavdiv-menu .div {
	border-bottom: #CCC 1px solid;
	cursor: pointer;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.sidenavdiv-menu .div:hover {
	background: #F9F9FF;
}

.sidenavdiv-menu .div {
	border-bottom: #CCC 1px solid;
	cursor: pointer;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.sidenavdiv-menu .div li {
	padding: 10px 0px 10px 15px;
	font-size: 13px;
	color: #000;
	height: 30px;
	line-height: 30px;
	list-style: none;
}

.sidenavdiv-menu .div .active-li {
	background: #F9F9FF;
}

.sidenavdiv-menu .div li i {
	color: var(--subactive-color);
	font-size: 16px;
	width: 40px;
}

.sidenavdiv-menu .puple li {
	background: var(--subactive-color);
	color: #FFF;
}

.sidenavdiv-menu .puple li i {
	background: var(--subactive-color);
	color: #FFF;
}

.sidenavdiv-menu .orange li {
	background: #F8AE1B;
	color: #FFF;
}

.sidenavdiv-menu .orange li i {
	background: #F8AE1B;
	color: #FFF;
}


.sidenavdiv-menu .div li #side-expand {
	float: right;
	color: var(--subactive-color);
	width: 20px;
	height: 23px;
	padding-top: 7px;
}

.sidenavdiv-menu .div .sub-li {
	width: 90%;
	margin-left: 10%;
	margin-top: 10px;
	display: none;
}

.sidenavdiv-menu .div .sub-li li {
	cursor: pointer;
	font-size: 13px;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.sidenavdiv-menu .div .sub-li li:hover {
	background: rgba(204, 204, 204, .2);
}

.sidenavdiv-menu .div .sub-li #active-li {
	background: rgba(204, 204, 204, .2);
}


@media all and (max-width:980px) {
	.toggle-profile-div {
		right: 4%;
	}
	.toggle-profile-div:after {
		right: 60px;
	}
}

@media all and (max-width:920px) {
	.side-back-div {
		left: -250px;
	}
	.header-div {
		width: 100%;
	}

	.header-div .header-div-in .nav-div #myprofile,
	.nav-div #_dashboard,
	.header-div-in .title-text1 {
		display: none;
	}

	.header-div .header-div-in .logo-div {
		width: 140px;
		display: block;
	}
	.the-title-div .title-text2 {
		padding-top: 10px;
		font-weight: bold;
		display: block;
	}

}



@media all and (max-width:820px) {

	.header-div .header-div-in {
		padding: 0px 20px;
	}

	.toggle-profile-div {
		right: 2%;
	}
}




@media all and (max-width:350px) {
	.header-div .header-div-in  .header-profile-pix-div {
		margin: 10px 10px 10px 10px;
		
	}
}

