html {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: title-font;
	src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
	font-family: sub-title-font;
	src: url(Poppins/Poppins-Medium.ttf);
}

@font-face {
	font-family: body-font;
	src: url(Poppins/Poppins-Regular.ttf);
}

:root{
	--body-color: #000;
	--body-bg-color: #f8f8f8;
	--sub-body-color: #444;
	--main-color: #3E4095;
	--active-color: #090;
	--active-color2: #98CD99;
	--subactive-color: #fca439;
	--white-color: #fff;
	--close-color: #f00;
	--rgba-color: rgba(255,255,255,.2);
	--bg-color: #eeeeee;
	--subbg-color:#fafafa;
	--text-color: #2DAAE1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: title-font;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: body-font;
	font-size: 15px;
	color: var(--primary-color);
}

a {
	text-decoration: none;
	color: inherit;
}





/*------text field--------------------------------------------------------------------------------------------*/
.text_field_container {
	position: relative;
	width: 100%;
	min-width: 300px;
	height: 60px;
	margin-bottom: 20px;
}

.text_field_container .placeholder {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	left: 30px;
	/* adjust as needed */
	color: #999;
	/* placeholder color */
	pointer-events: none;
	/* ensure the input is clickable */
	background: none;
	z-index: 100;
	height: 30px;
	width: calc(80% - 30px);
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.text_field_container .text_field {
	width: 100%;
	height: 60px;
	border: #e2e2e2 1px solid;
	background: #f8f8f8;
	padding: 0px 30px;
	font-size: 15px;
	border-radius: 5px;
	font-family: body-font;
	color: #1e1e1e;
	-webkit-text-fill-color: #1e1e1e;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none !important;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.text_field_container .text_field:focus {
	background: #fff;
	border: #f1c40f 1px solid;
}

.text_field_container .issue {
	background: #fff;
	border: #F00 1px solid;
}

.text_field_container .text_field:focus+.placeholder,
.text_field_container .text_field:not(:placeholder-shown)+.placeholder {
	height: auto;
	top: 20%;
	font-size: 11px;
	background: none;
}

@media all and (max-width:380px) {
	.text_field_container {
		min-width: 100%;
	}
} 
/*--------------------------------------------------------------------------------------------------*/
#get-more-div {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .8);
	z-index: 900;
	display: none;
}

#get-more-div-secondary{
	width:100%;
	height:100%;
	position:fixed;
	background: rgba(0,0,0,.8);
	z-index:950;
	display:none;
}


.ajax-loader{
	width:40%;
	min-width: 250px;
	height:30%;
	border-radius:3px;
	text-align:center;
	position: absolute;
	background:#FFF;
	display: flex;
    align-items: center;
	justify-content: center;
}

.ajax-loader img{
	width:100%;
}

.agent-ajax-loader{
	width: 100px;
	top: 55%;
	background: none;
}

@media all and (max-width:650px) {
	.agent-ajax-loader{
		top: 60%;
	}
} 

/*--------------------------------------------------------------------------------------------------*/
.live-help-div {
	position: fixed;
	width: 60px;
	height: 80px;
	left: 20px;
	bottom: 20px;
	font-size: 10px;
	color: var(--text-white);
	text-shadow: #000 1px 1px;
	font-weight: bold;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
	transition: all 0.2s ease-in 0.2s;
	z-index: 300;
}

.live-help-div:hover {
	-moz-transform: scale(1.1) translate(1px, 0px);
	-webkit-transform: scale(1.1) translate(1px, 0px);
}

.live-help-div .pix-div {
	width: 56px;
	height: 56px;
	padding: 2px;
	border-radius: 100%;
	overflow: hidden;
	border: var(--primary-color) 1px solid;
	background: var(--bg-white);
}

.live-help-div .pix-div img {
	width: 100%;
}



/*--------------------------------------------------------------------------------------------------*/
#back2Top {
	width: 40px;
	height: 30px;
	padding-top: 10px;
	position: fixed;
	z-index: 999;
	bottom: 100px;
	right: 2%;
	background: #47A8BF;
	color: #FFF;
	display: none;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	border-radius: 7px;
	-moz-transition: all 0.2s ease-in 0.2s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

#back2Top:hover {
	background: #444;
}


/*------Media Link--------------------------------------------------------------------------------------------*/
.media-link-div {
	position: fixed;
	height: auto;
	width: 50px;
	right: 0px;
	top: 200px;
	z-index: 500;
}

.media-link-div li {
	list-style: none;
	width: 50px;
	font-size: 20px;
	color: #FFF;
	background: #060;
	padding-top: 10px;
	height: 40px;
	text-align: center;
	-moz-transition: all 0.2s ease-in 0.2s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
	float: right;
}

.media-link-div li:hover {
	padding-right: 5px;
}

@media all and (max-width:600px) {
	.media-link-div {
		display: none;
	}
}

/*----click acion alert----------------------------------------------------------------------------------------------*/
.all-alert-back-div {
    position: fixed;
    z-index: 1000;
    height: 1px;
    top: 0px;
    width: 100%;
	display: none;
    justify-content: center;
    align-items: center;
}

.all-alert-back-div .success-alert-div,
.all-alert-back-div .failed-alert-div {
	margin-top: 100px;
    min-height: 50px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    background: #006a35;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.all-alert-back-div .success-alert-div .icon,
.all-alert-back-div .failed-alert-div .icon {
	width: 50px;
    border-radius: 5px 0px 0px 5px;
    background: #00ca65;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.all-alert-back-div .success-alert-div .text,
.all-alert-back-div .failed-alert-div .text {
	width: calc(100% - 70px);
    padding-right: 10px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sub-title-font;
}

.all-alert-back-div .failed-alert-div {
	background: #6a0000;
}

.all-alert-back-div .failed-alert-div .icon {
	background: #ca0000;
}

.all-alert-back-div .failed-alert-div .text {
	color: #FFF;
}

/*-------form alert div-------------------------------------------------------------------------------------------*/
.alert {
	border: rgba(231, 107, 46, .4) 1px solid;
	background: rgba(231, 107, 46, .05);
	min-height: 20px;
	padding: 10px 5% 10px 5%;
	font-size: 14px;
	line-height: 20px;
	color: #7f8c8d;
	margin: 10px auto;
	border-radius: 3px;
}


.refrees-alert {
	margin: 0px;
	border-radius: 3px 3px 0px 0px;
}

.agent-alert {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.alert span {
	color: #3498db;
	cursor: pointer;
	font-size: 13px;
}

@media all and (max-width:450px) {
	.alert span {
		font-size: 11px;
	}
}

@media all and (max-width:400px) {
	.agent-alert {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 10px 5% 18px 5%;
	}
}

.alert .alert-title{
	color: #3498db;
	font-size: 13px;
	margin-bottom: 10px;
}

.alert-success {
	border: rgba(46, 204, 113, .4) 1px solid;
	background: rgba(46, 204, 113, .05);
}

.alert-failed {
	border: rgba(231, 76, 60, .4) 1px solid;
	background: rgba(231, 76, 60, .05);
}

.alert .btn {
	height: 30px;
	margin: -5px 0px;
	padding: 0px 10px;
	border: none;
	border-radius: 3px;
	background: #2DAAE1;
	color: #FFF;
	font-size: 11px;
	cursor: pointer;
	font-family: sub-title-font;
	transition: all ease 0.2s;
	-webkit-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
}

.alert .btn:hover {
	background: #444;
}



.alert-list-back-div{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	height: auto;
	margin-bottom: 25px;
	color: #7f8c8d;
	font-size: 12px;
}

.alert-list-back-div .alert-list-div{
	width: 100%;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding-bottom: 8px;
	border-bottom: #dddcdc 1px dashed;
}

.alert-list-back-div .alert-list-div .input-div{
	width: 100%;
	font-size: 14px;
	font-family: body-font;
	color: var(--text-color);
}








/*-----live chat and index menu---------------------------------------------------------------------------------------------*/
.sidenavdiv {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	z-index: 600;
	margin-left: -100%;
}

.sidenavdiv .sidenavdiv-in {
	width: calc(100% - 252px);
	height: 100%;
	right: 0px;
	position: absolute;
}


/*-----live chat---------------------------------------------------------------------------------------------*/
.live-chat-back-div {
	width: 250px;
	height: 100%;
	overflow: auto;
	position: fixed;
	background: rgba(255, 255, 255, .9);
	padding-top: 50px;
	margin-left: -100%;
	z-index: 650;
}

.live-chat-back-div .chat-div {
	padding: 5px 5px 5px 20px;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
}

.live-chat-back-div .chat-div:hover {
	padding-left: 15px;
	background: rgba(255, 255, 255, .3);
}

.live-chat-back-div .chat-div .icon-div {
	height: 32px;
	width: 40px;
	font-size: 24px;
	padding-top: 8px;
	text-align: center;
	color: #FFF;
	float: left;
	border-radius: 100%;
}

.live-chat-back-div .chat-div .text {
	height: 30px;
	margin: 5px;
	float: left;
	background: #FFF;
	box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, .6);
	color: #000;
	line-height: 30px;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
}



/*-----------index menu---------------------------------------------------------------------------------------*/
.index-menu-back-div {
	width: 250px;
	height: 100%;
	overflow: auto;
	position: fixed;
	background: rgba(255, 255, 255, 0.938);
	z-index: 950;
	margin-left: -100%;
}

.index-menu-back-div .top-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 100px;
	background: var(--white-color);
	padding: 2px 0px;
	position: fixed;
	z-index: 100;

}

.index-menu-back-div .top-div .logo-div {
	width: 120px;
	height: 80px;
	border-radius: 8px;
}

.index-menu-back-div .top-div .logo-div img {
	width: 100%;
	border-radius: 8px;
}

.index-menu-back-div .div-in .div {
	border-bottom: #CCC 1px solid;
	cursor: pointer;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.index-menu-back-div .div-in .div:hover {
	background: #F9F9FF;
}

.index-menu-back-div .div-in {
	margin-top: 110px;
}

.index-menu-back-div .div-in .div li {
	padding: 10px 0px 10px 15px;
	font-size: 14px;
	color: var(--primary-color);
	height: 30px;
	line-height: 30px;
	list-style: none;
	cursor: pointer;
}

.index-menu-back-div .div-in .puple {
	background: var(--secondary-color);
}

.index-menu-back-div .div-in .puple:hover {
	background: var(--secondary-color);
}

.index-menu-back-div .div-in .puple li {
	color: var(--white-color);
}

.index-menu-back-div .div-in .hash {
	background: var(--primary-color);
}

.index-menu-back-div .div-in .hash:hover {
	background: var(--primary-color);
}

.index-menu-back-div .div-in .hash li {
	color: var(--white-color);
}

.index-menu-back-div .div-in .div #active-li {
	background: #F9F9FF;
}

.index-menu-back-div .div-in .div li i {
	color: var(--secondary-color);
	font-size: 15px;
	width: 40px;
	margin-right: 10px;
}

.index-menu-back-div .div-in .puple li i {
	color: var(--white-color);
}

.index-menu-back-div .div-in .hash li i {
	color: var(--white-color);
}

.index-menu-back-div .div-in .div li #side-expand {
	float: right;
	color: var(--secondary-color);
	width: 20px;
	height: 23px;
	padding-top: 7px;
}

.index-menu-back-div .div-in .div .sub-li {
	width: 90%;
	margin-left: 10%;
	margin-top: 10px;
	display: none;
}

.index-menu-back-div .div-in .div .sub-li li {
	height: auto;
	line-height: 20px;
	padding: 10px 5px 10px 0px;
	cursor: pointer;
	font-size: 12px;
	-moz-transition: all 0.2s ease-in 02s;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	-ms-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
}

.index-menu-back-div .div-in .div .sub-li li:hover {
	background: rgba(204, 204, 204, .2);
}

.index-menu-back-div .div-in .div .sub-li #active-li {
	background: rgba(204, 204, 204, .2);
}


.false-notification-div{
	padding:50px;
	background:#fdfdfd;
	border-radius:5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--subactive-color);
}